/* ABOUT SECTION STYLES */
.aboutContents {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    margin: 25px 0 60px 0;
    // flex-wrap: wrap;
}

@media(max-width:867px) {
    .aboutContents {
        flex-direction: column;
    }
}

.aboutIntro {
    font-size: 1.2rem;
    color: $black;
    font-weight: 400;
    margin: 15px 0;
    text-align: center;
}

.aboutText {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 100%;
    width: 390px;
    padding: 35px 40px;
    background: $mainAccentGreen;
}

.aboutText p {
    font-size: 1.0rem;
    flex-grow: 1;
    margin: 5% 0;
}

.aboutText img {
    flex-grow: 1;
}

@media(max-width:390px) {
    .aboutText {
        width: 95%;
    }
    .aboutImg {
        width: 95%;
    }
    .aboutContents {
        margin-bottom: 30px;
    }
}
