/* CONTACT SECTION STYLES */
.contactSection {
    background: $darkBackground;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    // color: $white;
    font-size: 1.0rem;
}

.formInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}

input, textarea {
    color: $white;
    width: 100%;
    border: none;
    border-bottom: 1px solid $white;
    background: $darkBackground;
}

.nameInput, .textInput {
    color: $white;
}

.nameInput {
    margin: 0 5px 0 0;
}

.formSubmit {
    font-family: $primaryFont;
    padding: 5px 10px;
    margin: 20px 0;
    background: $mainAccentGreen;
    border: 1px solid $mainAccentGreen;
    transition: all 0.5s ease-in;
    &:hover {
        background: none;
        color: $mainAccentGreen;
    }
}

h4 a {
    color:$mainAccentGreen;
    transition: all 0.5s ease-in;
    &:hover {
        color: rgba(228, 196, 54, 0.918);
    }
}

@media (max-width: 520px) {
    .email {
        text-align: center;
    }
    .email::after {
        margin: 0 auto;
    }
}

