/* FOOTER STYLES */
footer {
    border-top: 1px solid $mainAccentGreen;
    background: $darkBackground;
}

.footerNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
}

.footerNav li a {
    color: $white;
    padding: 0 8px;
    transition: color 0.5s ease-in;
    &:hover {
        color: $mainAccentGreen;
    }

}

.copyrightText {
    color: $white;
    font-family: $primaryFont;
    font-size: 0.8rem;
    text-align: center;
}

@media(max-width:700px) {
    .copyrightText {
        width: 30%;
        font-size: 0.6rem;
    }
}
