/* NAV STYLES */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mainNav {
    padding: 15px 0;
    width: 100%;
}

@media(max-width: 850px) {
    .mainNav {
        padding: 10px 0;
    }
}

.socialNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.head {
    color: $white;
}

.socialNav a {
    color: $white;
    font-size: 1.5rem;
    margin: 0 8px;
    transition: color 0.5s ease-in;
    &:hover {
        color:$mainAccentGreen;
    }
}

/* HEADER STYLES */
h1, h5 {
    text-transform: uppercase;
}

h1 {
    font-weight: 700;
    color: $white;
    font-size: 2.8rem;
}

h5 {
    color: $gray;
    font-size: 1.2rem;
    margin: 5px 0;
}

header {
    height: 100vh;
    background-image: url(../../assets/images/header-fallback.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.65)),
    url(../../assets/images/nyc-brooklynbridge-kittyyau.jpg);
    background-size: cover;
    background-position: bottom;
}

header.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}


.headerName {
    margin: 5px 0;
}

.headerInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 80vh;
    width: 100%;
    border: 1.5px solid $mainAccentGreen;
}

.enterButton {
    font-weight: bold;
    color: $mainAccentGreen;
    text-transform: uppercase;
    font-size: 1.0rem;
    padding: 10px 15px;
    margin: 10px 0;
    border: 1.5px solid $mainAccentGreen;
    transition: all 0.5s ease-in;
    &:hover {
        color: $white;
        border-color: $white;
    }
}
