/* PORTFOLIO SECTION STYLES */
.portfolioSection {
    background: $darkBackground;
    overflow: hidden;
}

.darkSubHeader {
    color: $backgroundText;
    z-index: 0;
}

.tabletPortfolio {
    display: none;
}

.portfolioContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    margin: 20px 0;
    position: relative;
}

.portfolioItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    img {
        width: 500px;
        position: relative;
        z-index: 30;
        transition: all 0.5s ease-in;
        &:hover {
            transform: translate(0,-20px);
        }
    }
}

@media(max-width: 1141px) {
    .portfolioItem img {
        width: 400px;
    }
}

@media(max-width: 865px) {
    .mainPortfolio {
        display: none;
    }
    .tabletPortfolio {
        display: block;
        .tabletImage {
            width: 550px;
        }
        .portfolioText {
            width: 75%;
            margin: 0;
        }
        .portfolioItem.item::before {
            content: "";
            width: 90%;
            height: 3px;
            border-bottom: 2px double $accentGreenFour;
            border-top: 2px solid $accentGreenFour;
            margin-top: 25px;
        }
    }
}

@media(max-width: 650px) {
    .portfolioText {
        width: 90%;
    }
}

@media(max-width: 596px) {
    .tabletPortfolio {
            .tabletImage {
            width: 450px;
        }
    }
}

@media(max-width: 485px) {
    .tabletPortfolio {
        .tabletImage {
            width: 430px;
        }
    }
}


.portfolioItem:nth-child(1)::after {
    content:"";
    display: block;
    height: 1200px;
    background: url(../../assets/images/brush2_flip.svg) no-repeat;
    position: absolute;
    top: 0;
    left: -40%;
    width: 140%;
    z-index: 1;
}

.portfolioItem:nth-child(2)::after {
    content:"";
    display: block;
    height: 1200px;
    background: url(../../assets/images/brush2.svg) no-repeat;
    position: absolute;
    top: 40%;
    width: 140%;
    z-index: 1;
}

.portfolioText {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 40%;
    position: relative;
    z-index: 30;
    p {
        color: $white;
        font-size: 1.0rem;
        line-height: 25px;
        padding: 5px 0;
    }
}

h4 {
    color: $white;
    text-transform: uppercase;
    font-size: 1.6rem;
    margin: 10px 0;
}

h4::after {
    content: "";
    border: 1px solid $mainAccentGreen;
    display: block;
    height: 0px;
    width: 25px;
}

.portfolioTitle {
    color: $mainAccentGreen;
}

.portfolioDetails {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px 0;
    li {
        text-transform: uppercase;
        font-family: $primaryFont;
        color: $mainAccentGreen;
        font-size: 1.0rem;
        margin-right: 15px;
        font-weight: 400;
    }
}

.projectButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0;
}

.liveBtn, .gHBtn {
    text-transform: uppercase;
    font-size: 1.0rem;
    padding: 15px 10px;
    border: 1.5px solid $mainAccentGreen;
    color: $mainAccentGreen;
    margin: 1rem 1rem 1rem 0;
    transition: all 0.5s ease-in-out;
    font-weight: bold;
    &:hover {
        color: $white;
        border-color: $white;
        transform: translate(0,-10px);
    }
}

@media(max-width: 465px) {
    .tabletPortfolio {
        .tabletImage {
            width: 400px;
        }
    }
    .projectButtons {
        justify-content: space-between;
        width: 100%;
    }
    .liveBtn {
        margin-right: 0;
    }
    .gHBtn {
        margin-right: 0;
    }
}

@media(max-width: 424px) {
    .tabletPortfolio {
        .tabletImage {
            width: 370px;
        }
    }
}

@media(max-width: 402px) {
    .tabletPortfolio {
        .tabletImage {
            width: 350px;
        }
    }
}

@media(max-width: 360px) {
    .tabletPortfolio {
        .tabletImage {
            width: 320px;
        }
    }
}

@media(max-width: 340px) {
    .tabletPortfolio {
        .tabletImage {
            width: 300px;
        }
    }
}


