/* SKILLS SECTION STYLES */

.skillsIcons {
    display: flex;
    flex-direction: row;
    text-align: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 80%;
    margin: 10px 0 25px 0;
}

.skillsIcons li {
    font-size: 4.0rem;
    width: 20%;
    padding: 10px 0;
    text-align: center;
    color: $darkBackground;
}

@media(max-width: 517px) {
    .skillsIcons {
        width: 98%;
    }
}

@media(max-width: 440px) {
    .skillsIcons {
        li {
            width: 50%;
            font-size: 6.5rem;
        }
    }
}

// .mainGreen {
//     background: $mainAccentGreen;
// }

// .secondGreen {
//     background: $accentGreenTwo;
// }

// .thirdGreen {
//     background: $accentGreenThree;
// }

// .fourthGreen {
//     background: $accentGreenFour;
// }


