/* VARIABLE STYLES */
$primaryFont: "Montserrat", sans-serif;

$black: rgb(0,0,0);
$white: rgba(255, 255, 255, 0.966);
$gray: #cfd2d1;
$backgroundText:#cfd2d148;

$lightBackground: #f5f5f5;
$darkBackground: #3d3e3e;

$mainAccentGreen: #3adab2;
$accentGreenTwo: rgba(58, 218, 178, 0.8);
$accentGreenThree:rgba(58, 218, 178, 0.6);
$accentGreenFour:rgba(58, 218, 178, 0.5);
